version: '3.3'

services:
  app:
    image: fireflyiii/core:latest
    hostname: app
    container_name: firefly_iii_core
    restart: always
    volumes:
      - firefly_iii_upload:/var/www/html/storage/upload
    env_file: .env
    networks:
      - firefly_iii
    ports:
      - 80:8080
    depends_on:
      - db
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
        compress: "true"

  db:
    image: postgres:16
    hostname: db
    container_name: firefly_iii_db
    restart: always
    env_file: .db.env
    networks:
      - firefly_iii
    volumes:
      - firefly_iii_db:/var/lib/postgresql/data
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
        compress: "true"

  cron:
    image: alpine
    hostname: cron
    container_name: firefly_iii_cron
    restart: always
    env_file: .env
    networks:
      - firefly_iii
    depends_on:
      - app
    command: sh -c "apk add --no-cache curl tzdata && ln -sf /usr/share/zoneinfo/$${TZ} /etc/localtime && echo '0 20 * * * curl -s http://app:8080/api/v1/cron/$${STATIC_CRON_TOKEN}' | crontab - && crond -f -L /dev/stdout"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
        compress: "true"

volumes:
  firefly_iii_upload:
  firefly_iii_db:

networks:
  firefly_iii:
    driver: bridge
